.add-product-form{
    display: flex;
    justify-content: center;

}
.form-control input{
    outline: none;
    border: none;
    border-bottom: 1.5px solid black;
    background-color: transparent;
    padding: 0.3rem;
}
.form-btn{
    border: none;
    color: black;
    background: transparent;
    outline: none;
}